@charset "UTF-8";
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("/montserrat-v14-latin_cyrillic-regular.b3efb4d8.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-regular.61492ccf.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("/montserrat-v14-latin_cyrillic-500.bd5a7a4e.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-500.2b237b66.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("/montserrat-v14-latin_cyrillic-600.78bfcd30.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-600.9ab243fb.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/montserrat-v14-latin_cyrillic-700.c08a7122.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-700.47587240.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("/montserrat-v14-latin_cyrillic-800.d8a484f6.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-800.d7b51b6d.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111518;
  background-color: #ffffff;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    width: 1344px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.section {
  padding: 50px 0;
}

.page-header {
  padding-top: 30px;
}
.page-header .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-header .header-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header .header-link {
    display: block;
    margin-left: auto;
    background-color: transparent;
    color: #ff6b09;
  }
}
@media screen and (min-width: 768px) and (min-width: 1344px) {
  .page-header .header-link {
    display: flex;
    justify-content: center;
    margin-left: 40px;
  }
  .page-header .nav-link {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.link:hover,
.link:focus {
  color: #ff6b09;
}

.menu-btn {
  z-index: 101;
}

.header-burger {
  display: flex;
  padding-top: 40px;
  text-align: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-burger {
    padding-top: 30px;
  }
}
@media (min-width: 1344px) {
  .header-burger {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(17, 21, 24, 0.9);
  z-index: 100;
}
.menu-container.is-open {
  display: block;
}
.menu-container .menu-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-btn:hover, .menu-container .menu-btn:focus {
  fill: #ff6b09;
}
.menu-container .menu-btn .menu-btn .icon-close {
  display: none;
}
.menu-container .menu-btn .menu-btn.is-open .icon-close {
  display: block;
}
.menu-container .menu-btn .menu-btn.is-open .icon-open {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-container .menu-btn {
    margin-left: 40px;
  }
}
@media (min-width: 1344px) {
  .menu-container .menu-btn {
    display: none;
  }
}
.menu-container .button {
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .menu-container .button {
    display: none;
  }
}
@media (min-width: 1330px) {
  .menu-container {
    display: none;
  }
}

.site-nav .item {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (max-width: 1344px) {
  .site-nav {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1344px) {
  .site-nav {
    margin-top: 72px;
    margin-left: 218px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav .item {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .site-nav {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .site-nav .item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #b9b9b9;
    text-transform: uppercase;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }
}

.menu-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover, .menu-btn:focus {
  fill: #ff6b09;
}
.menu-btn .icon-close {
  fill: #ffffff;
}
.menu-btn .icon-close {
  display: none;
}
.menu-btn.is-open .icon-close {
  display: block;
}
.menu-btn.is-open .icon-open {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    margin-left: 40px;
  }
}
@media (min-width: 1344px) {
  .menu-btn {
    display: none;
  }
}

.container-tablet {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 1344px) {
  .container-tablet {
    display: none;
  }
}

.hero-section {
  position: relative;
  background-image: url(/hero-bg-mobile@1x.ad0e07e1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -70px;
  max-width: 100%;
  width: 100%;
  background-color: #0000000a;
}
.hero-section .img {
  margin-left: auto;
  margin-right: auto;
}
.hero-section .button {
  display: block;
}
.hero-section .button:focus, .hero-section .button:hover {
  fill: #ff6b09;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero-section .hero-content:not(:last-child) {
    padding-bottom: 36px;
  }
  .hero-section .hero-content:not(:last-child) .button {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(/hero-bg-tablet@1x.47fdf172.png);
    background-position-y: -200px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-section {
    background-image: url(/hero-bg-desktop@1x.ea458212.png);
    background-position-y: -300px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
  }
  .hero-container .hero-content {
    width: 50%;
  }
}

.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
.hero-title .hero-label {
  display: block;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-title {
    font-size: 58px;
  }
}

.hero-description {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
}
.hero-description .grey-color {
  display: block;
  font-weight: 500;
  color: #b9b9b9;
}
.hero-description .orange-color {
  color: #ff6b09;
}
@media screen and (min-width: 1344px) {
  .hero-description {
    font-size: 20px;
  }
}

.hero-teacher {
  display: flex;
  justify-content: center;
}

.section-problems {
  background-image: linear-gradient(to bottom, #111518 75%, #ffffff 50%);
}
@media screen and (min-width: 1344px) {
  .section-problems {
    background-image: url(/fire-background.7144c19e.svg), linear-gradient(to bottom, #111518 75%, #ffffff 50%);
    background-position: 100% 25%;
    background-repeat: no-repeat;
  }
}

.problems-section-title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .problems-section-title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 25px;
    width: 568px;
  }
}
@media screen and (min-width: 1344px) {
  .problems-section-title {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 70px;
    width: 866px;
  }
}

.color-orange {
  color: #ff6b09;
}

.problems-list {
  padding: 50px 30px 20px 30px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .problems-list {
    padding: 60px 30px 26px 30px;
  }
}
@media screen and (min-width: 1344px) {
  .problems-list {
    padding: 113px 30px 62px 30px;
  }
}

.problems-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .problems-item {
    margin-bottom: 61px;
  }
}
@media screen and (min-width: 1344px) {
  .problems-item {
    margin-bottom: 75px;
    margin-right: 40px;
  }
}

.problems-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .problems-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1344px) {
  .problems-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .problems-item:nth-last-child(even) {
    margin-right: 22px;
  }
}

@media screen and (min-width: 1344px) {
  .problems-item:nth-child(3n+3) {
    margin-right: 0;
  }
}

.problems-list {
  counter-reset: section;
}
@media screen and (min-width: 768px) {
  .problems-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.problems-item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .problems-item {
    width: calc((100% - 167px) / 2);
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1344px) {
  .problems-item {
    width: calc((100% - 306px) / 3);
    font-size: 20px;
    line-height: 1.2;
  }
}

.problems-item::before {
  counter-increment: section;
  content: "— 0" counters(section, ".") " ";
  color: #ff6b09;
  position: absolute;
  top: -30px;
}

.how-we-do-it-section {
  padding-bottom: 50px;
}
.how-we-do-it-section .title-how {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .how-we-do-it-section .title-how {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it-section .title-how {
    text-align: left;
    font-size: 46px;
    margin-bottom: 50px;
  }
}
.how-we-do-it-section .title-how-we-do {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  text-align: center;
}
@media screen and (min-width: 1334px) {
  .how-we-do-it-section .title-how-we-do {
    font-size: 20px;
  }
}
.how-we-do-it-section .title-how-we-do::after {
  content: " ";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ff6b09;
  margin: 20px auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .how-we-do-it-section .list {
    display: flex;
    flex-wrap: wrap;
  }
}
.how-we-do-it-section .description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 1334px) {
  .how-we-do-it-section .description {
    font-size: 18px;
    line-height: 1.55;
  }
}
.how-we-do-it-section .item {
  min-height: 280px;
  background-color: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  padding: 30px 10px 22px 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .how-we-do-it-section .item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1333px) {
  .how-we-do-it-section .item {
    width: calc((100% - 20px) / 2);
    padding: 40px 21px 30px 21px;
  }
  .how-we-do-it-section .item:nth-child(2n+1) {
    margin-right: 20px;
  }
  .how-we-do-it-section .item:not(:nth-last-child(-n+2)) {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it-section .item {
    width: calc((100% - 40px) / 3);
    padding: 40px 30px 55px 30px;
  }
  .how-we-do-it-section .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 20px;
  }
  .how-we-do-it-section .item:not(:nth-child(3n)) {
    margin-right: 20px;
  }
}
.how-we-do-it-section .item .icon {
  display: flex;
  justify-content: center;
}
.how-we-do-it-section .item .icon .icon-how-we-do {
  width: 74px;
  height: 60px;
  margin-bottom: 20px;
  fill: #ff6b09;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.how-we-do-it-section .item:hover, .how-we-do-it-section .item:focus {
  background-color: #ff6b09;
  color: #ffffff;
}
.how-we-do-it-section .item:hover .icon-how-we-do, .how-we-do-it-section .item:focus .icon-how-we-do {
  fill: #ffffff;
}
.how-we-do-it-section .item:hover .description, .how-we-do-it-section .item:focus .description {
  fill: #ffffff;
  color: #ffffff;
}
.how-we-do-it-section .item:hover .title-how-we-do::after, .how-we-do-it-section .item:hover .title-how-we-do::after {
  background-color: #ffffff;
}

.program-section {
  background: #111518;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .program-section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1344px) {
  .program-section {
    padding-top: 120px;
    position: relative;
  }
}

.program-section .section-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .program-section .section-title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 52px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .program-section .section-title {
    font-size: 46px;
    text-align: left;
    margin-bottom: 160px;
    margin-left: 169px;
  }
}

.program-title {
  position: relative;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.program-title.point::after {
  content: "";
  background: #ff6b09;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  z-index: 999;
}
@media screen and (min-width: 1344px) {
  .program-title.point::after {
    left: 0;
    top: -67px;
  }
}
@media screen and (min-width: 1344px) {
  .program-title {
    font-size: 30px;
    line-height: 0.93;
    text-transform: none;
  }
}

.program-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 164.9%;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 15px;
}
@media screen and (min-width: 1344px) {
  .program-item {
    font-size: 20px;
  }
}

.program-section .program-list {
  margin-bottom: 18px;
  padding-left: 0;
}

.program-section .program-list.last {
  margin-bottom: 40px;
}

.last {
  margin-bottom: 25px;
}

.program-line {
  position: relative;
}
@media screen and (max-width: 1343px) {
  .program-line::before {
    content: "";
    height: 100%;
    border-left: 1px solid #ffffff;
    position: absolute;
    top: 13px;
    left: -35px;
  }
}
@media screen and (min-width: 1344px) {
  .program-line::before {
    content: "";
    position: absolute;
    background: #ff6b09;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    z-index: 999;
    top: -67px;
    left: 237px;
  }
}
@media screen and (max-width: 1343px) {
  .program-line::after {
    content: "";
    background: #ff6b09;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    position: inherit;
    top: 20px;
    left: -40px;
    z-index: 999;
  }
}
@media screen and (min-width: 1344px) {
  .program-line {
    width: 240px;
  }
}

.program-section .program-box {
  position: relative;
  padding: 0;
  text-align: center;
  padding-left: 60px;
}
@media screen and (min-width: 768px) {
  .program-section .program-box {
    padding-left: 110px;
  }
}
@media screen and (min-width: 1344px) {
  .program-section .program-box {
    display: flex;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .program-box .title-flex {
    display: flex;
  }
}
@media screen and (min-width: 1344px) {
  .program-box .title-flex {
    display: block;
  }
}

.program-topik {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  opacity: 0.5;
  text-align: start;
}
@media screen and (min-width: 1344px) {
  .program-topik {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .program-four {
    width: 176px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .program-two {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1344px) {
  .line-desktop {
    border: 1px solid #FFFFFF;
    width: 100%;
    position: absolute;
    top: 277px;
  }
}

.section-teacher {
  padding-top: 39px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section-teacher {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1344px) {
  .section-teacher {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

@media screen and (min-width: 768px) {
  .teacher-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .picture-wrapper {
    flex-basis: 243px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .picture-wrapper {
    flex-basis: 530px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .teacher-description {
    flex-basis: 402px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher-description {
    flex-basis: 642px;
  }
}

.teacher-name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .teacher-name {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher-name {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.decor-line {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #b9b9b9;
}

@media screen and (min-width: 1344px) {
  .teacher-list {
    width: 578px;
  }
}

.teacher-item {
  display: flex;
  margin-top: 20px;
}
.teacher-item:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .teacher-item {
    margin-top: 30px;
  }
}

.teacher-icon-check {
  width: 17px;
  height: 14px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .teacher-icon-check {
    width: 24px;
    height: 20px;
  }
}

.teacher-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1344px) {
  .teacher-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.decor-line-orange {
  content: " ";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1344px) {
  .decor-line-orange {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.experience-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
}
@media screen and (max-width: 1343px) {
  .experience-text:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1344px) {
  .experience-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
  }
}

.experience-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  color: #ff6b09;
}
@media screen and (min-width: 1344px) {
  .experience-link {
    font-size: 18px;
    line-height: 1.56;
  }
}

.why-we-section {
  background-image: linear-gradient(to bottom, #111518 75%, #ffffff 50%);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .why-we-title {
    max-width: 180px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .why-we-title {
    text-align: center;
    margin-bottom: 30px;
    max-width: 688px;
    font-size: 26px;
    line-height: 1.3;
    color: #ffffff;
  }
}
@media screen and (min-width: 1344px) {
  .why-we-title .why-we-title {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

.why-we-list {
  padding: 50px 30px 20px 30px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .why-we-list {
    padding: 60px 30px 25px 30px;
  }
}
@media screen and (min-width: 1344px) {
  .why-we-list {
    padding: 101px 30px 70px 30px;
  }
}

.why-we-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .why-we-item {
    margin-bottom: 63px;
  }
}
@media screen and (min-width: 1344px) {
  .why-we-item {
    margin-bottom: 75px;
    margin-right: 40px;
  }
}

.why-we-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .why-we-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1344px) {
  .why-we-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .why-we-item:nth-last-child(even) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1344px) {
  .why-we-item:nth-child(3n+3) {
    margin-right: 0;
  }
}

.why-we-list {
  counter-reset: section;
}
@media screen and (min-width: 768px) {
  .why-we-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.why-we-item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .why-we-item {
    width: calc((100% - 167px) / 2);
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1344px) {
  .why-we-item {
    width: calc((100% - 306px) / 3);
    font-size: 20px;
    line-height: 1.2;
  }
}

.why-we-item::before {
  counter-increment: section;
  content: "— 0" counters(section, ".") " ";
  color: #ff6b09;
  position: absolute;
  top: -30px;
}

.footer-background {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  min-width: 320px;
  height: 507px;
  background-image: url(/footer-bcg-mobile@1x.1a961509.png);
  background-color: #111518;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .footer-background {
    min-width: 768px;
    height: 520px;
    background-image: url(/footer-bcg-tablet@1x.15d6f672.png);
  }
}
@media screen and (min-width: 1344px) {
  .footer-background {
    max-width: 1680px;
    height: 840px;
    background-image: url(/footer-bcg-desktop@1x.95b67bd3.png);
  }
}

.footer-section {
  padding-bottom: 0;
}
@media screen and (min-width: 1344px) {
  .footer-section {
    padding-top: 100px;
  }
}

.form-block {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .form-block {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .form-block {
    padding-bottom: 68px;
  }
}
@media screen and (min-width: 1344px) {
  .form-block {
    padding-bottom: 62px;
    padding-left: 112px;
    padding-right: 112px;
  }
}

.form-title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .form-title {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1344px) {
  .form-title {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.orange-color {
  color: #ff6b09;
}

.form-discription {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .form-discription {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1344px) {
  .form-discription {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) {
  .form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.input-size {
  margin-bottom: 20px;
}
@media screen and (min-width: 1344px) {
  .input-size {
    margin-bottom: 30px;
  }
}

.footer-button {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer-button {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-button {
    margin-top: 50px;
  }
}

.input-box {
  width: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .input-box {
    width: 398px;
  }
}
@media screen and (min-width: 1344px) {
  .input-box {
    width: 478px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.input-box::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
}
@media screen and (min-width: 1344px) {
  .input-box::placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .contacts-block {
    padding-top: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1344px) {
  .contacts-block {
    justify-content: flex-start;
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

.logo-footer {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .address-wrap {
    display: flex;
    align-items: center;
    position: relative;
  }
}
@media screen and (min-width: 1344px) {
  .address-wrap {
    margin-right: 410px;
    margin-left: 290px;
  }
}

.contacts-phone {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #111518;
}
.contacts-phone:hover .contacts-link {
  color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .contacts-phone {
    margin-right: 48px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .contacts-phone {
    font-size: 30px;
    line-height: 1.23;
  }
}

.contacts-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.instagram-link {
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .instagram-link::before {
    content: "";
    display: block;
    border-left: 1px solid #b9b9b9;
    height: 40px;
    position: absolute;
    right: 64px;
  }
}

.copy-block {
  background-color: #111518;
}

.copy-text {
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #b9b9b9;
}
@media screen and (max-width: 767px) {
  .copy-text {
    text-align: center;
  }
}

.button {
  padding: 15px 1px;
  border: 2px solid #ff6b09;
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b09;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  cursor: pointer;
  color: #ff6b09;
  background-color: #ffffff;
}
@media screen and (min-width: 1344px) {
  .button {
    width: 354px;
    height: 70px;
    padding: 26px 0 26px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.14em;
  }
}

.mobile-menu-button {
  padding: 15px 1px;
  border: 2px solid #ff6b09;
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  background-color: transparent;
}
.mobile-menu-button:hover, .mobile-menu-button:focus {
  cursor: pointer;
  color: #ff6b09;
  background-color: #ffffff;
}
@media screen and (min-width: 1344px) {
  .mobile-menu-button {
    width: 336px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.14em;
  }
}

.header-link.button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.button:hover, .header-link.button:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff6b09;
}

.title-section {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
}

.advantages-section {
  background-color: #0000000a;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1344px) {
  .advantages-list {
    display: flex;
  }
}

.advantages-item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .advantages-item {
    width: calc((100% - 21 * 2) / 3);
  }
  .advantages-item:not(:last-child) {
    margin-right: 21px;
  }
}
@media screen and (min-width: 1344px) {
  .advantages-item {
    width: calc(100% / 3);
  }
}

.advantages-icon-place {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 1344px) {
  .advantages-icon-place {
    width: 100px;
    height: 102px;
  }
}

.advantages-discription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1344px) {
  .advantages-discription {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    margin-left: -10px;
  }
}

.slider-title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .slider-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .slider-title {
    font-size: 46px;
  }
}

.slider-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 1344px) {
  .slider-container {
    width: 80%;
  }
}

.slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-item {
  min-width: 100%;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .slider-item {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .slider-item {
    display: flex;
    padding: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .slider-item {
    display: flex;
    padding: 50px;
  }
}

.slider-item-image-block {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slider-item-image-block {
    width: calc((100% - 20px) / 3);
    margin-right: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .slider-item-image-block {
    width: calc((100% - 40px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .slider-client-image {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .slider-client-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

.slider-social-link {
  display: inline-flex;
  margin-top: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slider-social-link:hover, .slider-social-link:focus {
  background-color: #f1f1f1;
}
@media screen and (max-width: 767px) {
  .slider-social-link {
    margin-bottom: 10px;
  }
}

.slider-icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .slider-item-description-block {
    width: calc(100% - (100% - 20px) / 3);
  }
}

.slider-item-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .slider-item-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .slider-item-title {
    font-size: 30px;
  }
}

.slider-client-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (max-width: 767px) {
  .slider-client-description {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .slider-client-description {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .slider-client-description {
    font-size: 14px;
  }
}

.slider-feedback {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}
@media screen and (min-width: 1344px) {
  .slider-feedback {
    font-size: 18px;
  }
}

.read-more-link {
  color: #ff6b09;
  text-decoration: underline;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-button {
  background-color: transparent;
  border: none;
}

.slider-button-icon {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 767px) {
  .warranty-section {
    background: linear-gradient(to bottom, #ffffff 18%, #f1f1f1 18%);
  }
}

.warranty-section h2 {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1344px) {
  .warranty-section h2 {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .background-list-color {
    background: #f1f1f1;
  }
}

.warranty-list {
  padding: 30px 20px 30px 20px;
}
@media screen and (min-width: 768px) {
  .warranty-list {
    padding: 30px 50px 30px 79px;
  }
}
@media screen and (min-width: 1344px) {
  .warranty-list {
    padding: 50px 112px 45px 112px;
  }
}

.warranty-section li {
  list-style-image: url(/fire-list-marker.ff97cd07.svg);
  position: relative;
  padding-left: 20px;
}
.warranty-section li::after {
  position: absolute;
  line-height: 24;
  background: #fff;
}
.warranty-section li::before {
  position: absolute;
  left: -13px;
  top: 25px;
  content: "";
  height: 100%;
  width: 0;
  border-left: 1px dashed #b9b9b9;
}
@media screen and (min-width: 768px) {
  .warranty-section li::before {
    height: 100%;
  }
}
@media screen and (min-width: 1344px) {
  .warranty-section li::before {
    height: 100%;
  }
}
.warranty-section li:last-of-type:before {
  border: none;
}

.warranty-list li {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .warranty-list li:not(:last-child) {
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 768px) {
  .warranty-list li:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .warranty-list li {
    font-size: 20px;
    line-height: 1.4;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */