// Палитра
// Переменные базовые
$basicWhiteColor: #ffffff;
$basicBlackColor: #000000;

// Переменные для фона
$darkBackgrounColor: #111518;
$lightBackgroundColor: #f1f1f1;
$burgerMenuBackgroundColor: rgba(17, 21, 24, 0.9);

// Переменные для текста
$primaryTitleColor: #111518;
$primaryTextColor: #b9b9b9;
$secondaryTextColor: #3d3d3d;

// Переменная для акцента
$accentColor: #ff6b09;

// Другое
// Переменная для шрифта
$primaryFont: 'Montserrat', sans-serif;

// Переменная для анимации
$primaryTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
