<section class="section-advantages">
  <div class="container">
    <h2 class="visually-hidden">Приемущества</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <svg>
          <use></use>
        </svg>
        Адаптированная авторская программа ВНО
      </li>
      <li class="advantages-item">
        <svg>
          <use></use>
        </svg>
        Современные методики обучения
      </li>
      <li class="advantages-item">
        <svg>
          <use></use>
        </svg>
        Финансовая гарантия результата
      </li>
    </ul>
  </div>
</section>
