<!-- <section class="section advantages-section">
  <div class="container">
    <h2 class="visually-hidden">Приемущества</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <div>
          <svg class="advantages-icon-place">
            <use href="./images/icons/sprite.svg#icon-advantages-program"></use>
          </svg>
        </div>
        <div class="advantages-discription">
          <p>Адаптированная авторская программа ВНО</p>
        </div>
      </li>
      <li class="advantages-item">
        <div>
          <svg class="advantages-icon-place">
            <use href="./images/icons/sprite.svg#icon-advantages-method"></use>
          </svg>
        </div>
        <div class="advantages-discription">
          <p>Современные методики обучения</p>
        </div>
      </li>
      <li class="advantages-item">
        <div>
          <svg class="advantages-icon-place">
            <use
              href="./images/icons/sprite.svg#icon-advantages-guarantee"
            ></use>
          </svg>
        </div>
        <div class="advantages-discription">
          <p>Финансовая гарантия результата</p>
        </div>
      </li>
    </ul>
  </div>
</section>
