<footer class="footer-background">
  <section class="section footer-section">
    <div class="container">
      <h2 class="form-title">
        Регистрация на <span class="orange-color">бесплатную</span> телефонную
        <span class="orange-color">консультацию</span> по нюансам ЗНО по
        английскому языку
      </h2>
      <p class="form-discription">
        Оставь заявку на участие в
        <span class="orange-color">бесплатном занятии.</span> С вами свяжется
        консультант и ответит на вопросы
      </p>
      <form>
        <div class="input-size">
          <input
            type="text"
            name="name"
            class="input-box"
            placeholder="Имя*"
            required
          />
        </div>
        <div class="input-size">
          <input
            type="text"
            name="name"
            class="input-box"
            placeholder="Телефон*"
            required
          />
        </div>
        <button class="button">Хочу на бесплатное занятие</button>
      </form>
      <div class="contacts">
        <a class="logo" href="index.html"></a>
        <div class="contacts-phone-number">
          <svg>
            <use></use>
          </svg>
          +38 (000) 000 00 00
        </div>
        <a class="instagram-page" href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </div>
      <div class="all-rights-block">
        <p class="all-rigths">&#169; Все права защищены, 2019</p>
      </div>
    </div>
  </section>
</footer>
