<footer class="footer-background">
  <section id="contacts" class="section footer-section">
    <div class="container">
      <div class="form-block">
        <h2 class="form-title">
          Регистрация на <span class="orange-color">бесплатную</span> телефонную
          <span class="orange-color">консультацию</span> по нюансам ЗНО по
          английскому языку
        </h2>
        <p class="form-discription">
          Оставь заявку на участие в
          <span class="orange-color">бесплатном занятии.</span> <br />
          С вами свяжется консультант и ответит на вопросы
        </p>
        <form class="form-input">
          <div class="input-size">
            <input
              type="text"
              name="name"
              pattern="[A-Za-zА-Яа-яЁё\s]{2,}"
              class="input-box"
              placeholder="Имя*"
              required
              autocomplete="off"
            />
          </div>
          <div class="input-size">
            <input
              type="tel"
              name="telephone"
              pattern="[0-9]{10}"
              class="input-box"
              placeholder="Телефон*"
              required
              autocomplete="off"
            />
          </div>
          <button type="submit" class="button footer-button button-hero">
            Хочу на бесплатное занятие
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </form>
      </div>
      <div class="contacts-block">
        <a href="./index.html" class="logo-footer">
          <div class="logo-flex">
            <p>Hell</p>
            <span class="logo-icon"></span>
            <p>EN</p>
          </div>
          <p><span class="logo-orange">АДСКИЙ</span> АНГЛИЙСКИЙ</p>
        </a>

        <div class="address-wrap">
          <address class="contacts-phone">
            <a href="tel:+380000000000" class="contacts-link">
              <svg class="contacts-icon">
                <use href="./images/icons/sprite.svg#icon-phone"></use>
              </svg>
              +38 (000) 000 00 00
            </a>
          </address>
          <a
            class="instagram-link"
            href="https://www.instagram.com"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img
              src="./images/icons/socials/instagram.svg"
              alt="Иконка Инстаграм"
              width="40"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="copy-block">
      <div class="container">
        <p class="copy-text">&#169; Все права защищены, 2019</p>
      </div>
    </div>
    <button class="button-scroll-up" id="button-scroll-up"></button>
  </section>
</footer>
