<section class="section hero-section">
  <div class="container">
    <div class="hero-container">
      <div class="hero-content">
        <h1 class="hero-title">
          Комплексная <span class="hero-label">подготовка к ВНО</span> по
          английскому языку
        </h1>
        <p class="hero-description">
          <span class="grey-color">Просто не будет.</span>
          Но ты гарантировано наберешь
          <span class="orange-color">+25 баллов</span>
        </p>
        <a href="#contacts" class="button">хочу на бесплатное занятие</a>
      </div>

      <div class="hero-content">
        <picture class="hero-teacher">
          <source
            srcset="
              ./images/hero-banner/hero-group-desktop@1x.webp 1x,
              ./images/hero-banner/hero-group-desktop@2x.webp 2x
            "
            media="(min-width:1344px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero-banner/hero-group-tablet@1x.webp 1x,
              ./images/hero-banner/hero-group-tablet@2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero-banner/hero-group-mobile@1x.webp 1x,
              ./images/hero-banner/hero-group-mobile@2x.webp 2x
            "
            media="(min-width:320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero-banner/hero-group-desktop@1x.png 1x,
              ./images/hero-banner/hero-group-desktop@2x.png 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./images/hero-banner/hero-group-tablet@1x.png 1x,
              ./images/hero-banner/hero-group-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero-banner/hero-group-mobile@1x.png 1x,
              ./images/hero-banner/hero-group-mobile@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img src="./images/hero-banner/hero-group-desktop@1x.png" alt="" />
        </picture>
      </div>
      <div class="hero-content">
        <h2 class="visually-hidden">Приемущества</h2>
        <ul class="advantages-list">
          <li class="advantages-item">
            <div>
              <svg class="advantages-icon-place">
                <use
                  href="./images/icons/sprite.svg#icon-advantages-program"
                ></use>
              </svg>
            </div>
            <div class="advantages-discription">
              <p>Адаптированная авторская программа ВНО</p>
            </div>
          </li>
          <li class="advantages-item">
            <div>
              <svg class="advantages-icon-place">
                <use
                  href="./images/icons/sprite.svg#icon-advantages-method"
                ></use>
              </svg>
            </div>
            <div class="advantages-discription">
              <p>Современные методики обучения</p>
            </div>
          </li>
          <li class="advantages-item">
            <div>
              <svg class="advantages-icon-place">
                <use
                  href="./images/icons/sprite.svg#icon-advantages-guarantee"
                ></use>
              </svg>
            </div>
            <div class="advantages-discription">
              <p>Финансовая гарантия результата</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
