<!-- Шапка сайта -->
<header class="page-header">
  <div class="container">
    <nav class="nav">
      <div class="container-tablet">
        <ul class="site-nav">
          <li class="item">
            <a class="link nav-link" href="#program">Программы обучения</a>
          </li>
          <li class="item">
            <a class="link nav-link" href="#about-us" rel="noopener noreferrer"
              >О нас
            </a>
          </li>
          <li class="item">
            <a
              class="link nav-link"
              href="#how-we-do-it"
              rel="noopener noreferrer"
              >Варианты обучения
            </a>
          </li>
          <li class="item">
            <a class="link nav-link" href="#contacts" rel="noopener noreferrer"
              >Контакты
            </a>
          </li>
        </ul>
      </div>
      <a
        class="button header-link animation"
        href="#contacts"
        rel="noopener noreferrer"
        >Консультация по телефону <span></span><span></span><span></span
        ><span></span>
      </a>
      <button
        class="menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          class="icon-burger"
          width="40"
          height="40"
          aria-label="переключатель мбильного меню"
        >
          <use
            class="icon-open"
            href="./images/icons/sprite.svg#icon-burger-menu"
          ></use>
          <use
            class="icon-close"
            href="./images/icons/sprite.svg#icon-close-menu"
          ></use>
        </svg>
      </button>
      <div class="menu-container" id="menu-container" data-menu>
        <div class="menu-burger container">
          <div class="close-modal-link-ancore" data-menu-link>
            <ul class="site-nav">
              <li class="item">
                <a class="link nav-link" href="#program">Программы обучения</a>
              </li>
              <li class="item">
                <a
                  class="link nav-link"
                  href="#about-us"
                  rel="noopener noreferrer"
                  >О нас
                </a>
              </li>
              <li class="item">
                <a
                  class="link nav-link"
                  href="#how-we-do-it"
                  rel="noopener noreferrer"
                  >Варианты обучения
                </a>
              </li>
              <li class="item">
                <a
                  class="link nav-link"
                  href="#contacts"
                  rel="noopener noreferrer"
                  >Контакты
                </a>
              </li>
            </ul>
            <a
              class="button animation burger-button"
              href="#contacts"
              rel="noopener noreferrer"
              >Консультация по телефону
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="logo-container">
        <a href="./index.html" class="logo">
          <div class="logo-flex">
            <p>Hell</p>
            <span class="logo-icon"></span>
            <p>EN</p>
          </div>
          <p><span class="logo-orange">АДСКИЙ</span> АНГЛИЙСКИЙ</p>
        </a>
      </div>
    </nav>
  </div>
</header>
