<!-- Шапка сайта -->
<header class="page-header">
  <div class="container">
    <nav class="nav">
      <a href="#" class="logo">
        <picture class="logo-universal">
          <source
            srcset="
              ./images/logo-raster/logo-desktop-mix@1x.webp 1x,
              ./images/logo-raster/logo-desktop-mix@2x.webp 2x
            "
            media="(min-width:1344px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo-raster/logo-tablet-mix@1x.webp 1x,
              ./images/logo-raster/logo-tablet-mix@2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp/png"
          />

          <source
            srcset="
              ./images/logo-raster/logo-mobile-black@1x.webp 1x,
              ./images/logo-raster/logo-mobile-black@2x.webp 2x
            "
            media="(min-width:320px)"
            type="image/webp/png"
          />

          <source
            srcset="
              ./images/logo-raster/logo-desktop-mix@1x.png 1x,
              ./images/logo-raster/logo-desktop-mix@2x.png 2x
            "
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./images/logo-raster/logo-tablet-mix@1x.png 1x,
              ./images/logo-raster/logo-tablet-mix@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/logo-raster/logo-mobile-black@1x.png 1x,
              ./images/logo-raster/logo-mobile-black@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/logo-raster/logo-mobile-black@1x.png"
            alt="логотип компании"
          />
        </picture>
      </a>

      <div class="container-tablet">
        <ul class="site-nav">
          <li class="item">
            <a class="link nav-link" href="#">Программы обучения</a>
          </li>
          <li class="item">
            <a class="link nav-link" href="#" rel="noopener noreferrer"
              >О нас
            </a>
          </li>
          <li class="item">
            <a class="link nav-link" href="" rel="noopener noreferrer"
              >Варианты обучения
            </a>
          </li>
          <li class="item">
            <a class="link nav-link" href="" rel="noopener noreferrer"
              >Контакты
            </a>
          </li>
        </ul>
      </div>
      <a class="button header-link" href="" rel="noopener noreferrer"
        >Консультация по телефону
      </a>
      <button
        class="menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          class=""
          width="40"
          height="40"
          aria-label="переключатель мбильного меню"
        >
          <use
            class="icon-open"
            href="./images/icons/sprite.svg#icon-burger-menu"
          ></use>
          <use
            class="icon-close"
            href="./images/icons/sprite.svg#icon-close-menu"
          ></use>
        </svg>
      </button>
      <div class="menu-container" id="menu-container" data-menu>
        <div class="menu-burger container">
          <div class="header-burger">
            <a href="#" class="logo-burger">
              <picture>
                <source
                  srcset="
                    ./images/logo-raster/logo-tablet-white@1x.png 1x,
                    ./images/logo-raster/logo-tablet-white@2x.png 2x
                  "
                  media="(min-width:768px)"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./images/logo-raster/logo-mobile-white@1x.png 1x,
                    ./images/logo-raster/logo-mobile-white@2x.png 2x
                  "
                  media="(min-width:320px)"
                  type="image/jpg"
                />
                <img
                  src="./images/logo-raster/logo-tablet-white@1x.png"
                  alt="логотип компании"
                />
              </picture>
            </a>
          </div>
          <ul class="site-nav">
            <li class="item">
              <a class="link nav-link" href="#">Программы обучения</a>
            </li>
            <li class="item">
              <a class="link nav-link" href="#" rel="noopener noreferrer"
                >О нас
              </a>
            </li>
            <li class="item">
              <a class="link nav-link" href="" rel="noopener noreferrer"
                >Варианты обучения
              </a>
            </li>
            <li class="item">
              <a class="link nav-link" href="" rel="noopener noreferrer"
                >Контакты
              </a>
            </li>
          </ul>
          <a class="button burger-button" href="" rel="noopener noreferrer"
            >Консультация по телефону
          </a>

          <!-- <button class="button tablet">хочу на бесплатное занятие</button> -->
        </div>
      </div>
    </nav>
  </div>
</header>
