<!-- Шапка сайта -->
<header class="page-header">
  <div class="container">
    <nav class="nav">
      <a href="#" class="logo">
        <picture>
          <source
            srcset="
              ./images/logo-raster/logo-desktop-mix@1x.png  1x,
              ./images/logo-raster/logo-desktop-mix@1x.webp 1x,
              ./images/logo-raster/logo-desktop-mix@2x.png  2x,
              ./images/logo-raster/logo-desktop-mix@2x.webp 2x
            "
            media="(min-width:1344px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo-raster/logo-tablet-mix@1x.png  1x,
              ./images/logo-raster/logo-tablet-mix@1x.webp 1x,
              ./images/logo-raster/logo-tablet-mix@2x.png  2x,
              ./images/logo-raster/logo-tablet-mix@2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo-raster/logo-mobile-black@1x.png  1x,
              ./images/logo-raster/logo-mobile-black@1x.webp 1x,
              ./images/logo-raster/logo-mobile-black@2x.png  2x,
              ./images/logo-raster/logo-mobile-black@2x.webp 2x
            "
            media="(min-width:320px)"
            type="image/webp"
          />
          <img
            src="./images/logo-raster/logo-mobile-black@1x.png"
            alt="логотип компании"
          />
        </picture>
      </a>
      <button
        class="menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          class=""
          width="24"
          height="16"
          aria-label="переключатель мбильного меню"
        >
          <use
            class="icon-open"
            href="./images/icons/burger-menu/burger-menu.svg"
          ></use>
          <use
            class="icon-close"
            href="./images/icons/burger-menu/close-menu.svg"
          ></use>
        </svg>
      </button>

      <div class="menu-container" id="menu-container">
        <ul class="site-nav">
          <li class="item">
            <a class="link nav-link" href="#">Программы обучения</a>
          </li>
          <li class="item">
            <a class="link nav-link" href="#" rel="noopener noreferrer"
              >О нас
            </a>
          </li>
          <li class="item">
            <a class="link nav-link" href="" rel="noopener noreferrer"
              >Варианты обучения
            </a>
          </li>
          <li class="item">
            <a class="link nav-link" href="" rel="noopener noreferrer"
              >Контакты
            </a>
          </li>
          <li class="item">
            <a class="link nav-link" href="" rel="noopener noreferrer"
              >Консультация по телефону
            </a>
          </li>
        </ul>

        <button class="button">хочу на бесплатное занятие</button>
      </div>
    </nav>
  </div>
</header>
