<section class="section section-problems">
  <div class="container">
    <h2 class="problems-section-title">
      Главные проблемы учеников <br />
      на English ВНО, которые мы
      <span class="color-orange"> помогаем </span>решить
    </h2>
    <ul class="problems-list">
      <li class="problems-item">Незнание грамматики</li>
      <li class="problems-item">
        Неумение воспринимать устную английскую речь
      </li>
      <li class="problems-item">
        Скупой словарный запас для написания сочинения
      </li>
      <li class="problems-item">Подготовка в одиночку</li>
      <li class="problems-item">Отсутствие единого ресурса знаний</li>
      <li class="problems-item">Недостаточно самоорганизации и лень</li>
    </ul>
  </div>
</section>
