<section class="section section-problems">
  <div class="container">
    <h2 class="section-title">
      Главные проблемы учеников на English ВНО, которые мы
      <span class="color-orange">помогаем</span>решить
    </h2>
    <ul>
      <li>
        <p>Название грамматики</p>
      </li>
      <li>
        <p>Неумение вомпринимать устную английскую речь</p>
      </li>
      <li>
        <p>Скупой словарный запас для написани сочинения</p>
      </li>
      <li>
        <p>Поодготовка в одиночку</p>
      </li>
      <li>
        <p>Отсутствие единого ресурса знаний</p>
      </li>
      <li>
        <p>Недостатой самоорганизации и лень</p>
      </li>
    </ul>
  </div>
</section>
