<section id="program" class="section program-section">
  <!-- <div class="line-desktop"></div> -->
  <div class="container">
    <h2 class="section-title">Наша программа</h2>

    <ul class="program-box">
      <li class="program-line">
        <h3 class="program-title point">1 семестр</h3>
        <ul class="item-position title-flex">
          <li>
            <div class="program-four">
              <h4 class="program-item">— Grammar</h4>
              <ul class="program-list">
                <li class="program-topik">Nouns & Articles</li>
                <li class="program-topik">Adjectives & Adverb</li>
              </ul>
            </div>
          </li>
          <li>
            <h4 class="program-item">— Vocabulary</h4>
            <ul class="program-list last">
              <li class="program-topik">Family & Relations</li>
              <li class="program-topik">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-line">
        <h3 class="program-title">2 семестр</h3>
        <ul class="item-position title-flex">
          <li>
            <div class="program-four">
              <h4 class="program-item">— Grammar</h4>
              <ul class="program-list">
                <li class="program-topik">Pronouns</li>
                <li class="program-topik">Active Voice</li>
                <li class="program-topik">Passive Voice</li>
              </ul>
            </div>
          </li>
          <li>
            <h4 class="program-item">— Vocabulary</h4>
            <ul class="program-list last">
              <li class="program-topik">Home</li>
              <li class="program-topik">School</li>
              <li class="program-topik">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-line">
        <h3 class="program-title">3 семестр</h3>
        <ul class="item-position title-flex">
          <li>
            <div class="program-four">
              <h4 class="program-item bit">— Grammar</h4>
              <ul class="program-list">
                <li class="program-topik">Modal verbs</li>
                <li class="program-topik">Infinitive</li>
                <li class="program-topik">Gerund</li>
                <li class="program-topik">Participle: 1, 2</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="program-two">
              <h4 class="program-item bit">— Vocabulary</h4>
              <ul class="program-list">
                <li class="program-topik">Travel & Tourism</li>
                <li class="program-topik">Culture & Free Time</li>
                <li class="program-topik">Sport</li>
              </ul>
            </div>
          </li>
          <li>
            <h4 class="program-item">— Writing</h4>
            <p class="program-topik last">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-line">
        <h3 class="program-title">4 семестр</h3>
        <ul class="item-position title-flex">
          <li>
            <div class="program-four">
              <h4 class="program-item">— Grammar</h4>
              <ul class="program-list">
                <li class="program-topik">Clauses: Conditional and Wishes</li>
                <li class="program-topik">Direct / Reported speech</li>
                <li class="program-topik">Preposition</li>
                <li class="program-topik">Conjunction</li>
                <li class="program-topik">Numeral</li>
              </ul>
            </div>
          </li>

          <li>
            <div class="program-two">
              <h4 class="program-item">— Vocabulary</h4>
              <ul class="program-list">
                <li class="program-topik">Healthy Living</li>
                <li class="program-topik">Nature & Environment</li>
                <li class="program-topik">Money</li>
              </ul>
            </div>
          </li>
          <li>
            <h4 class="program-item">— Writing</h4>
            <p class="program-topik last">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="program-title">5 семестр</h3>
        <picture>
          <source
            srcset="./images/main-bcg/in-class-mobile@1x.webp 1x"
            ,
            srcset="./images/main-bcg/in-class-mobile@2x.webp 2x"
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/main-bcg/in-class-mobile@1x.png 1x"
            ,
            srcset="./images/main-bcg/in-class-mobile@2x.png 2x"
            type="image/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/main-bcg/in-class-deskto@1x.webp 1x"
            ,
            srcset="./images/main-bcg/in-class-desktop@2x.webp 2x"
            type="image/webp"
            media="(min-width: 1344px)"
          />
          <source
            srcset="./images/main-bcg/in-class-deskto@1x.png 1x"
            ,
            srcset="./images/main-bcg/in-class-desktop@2x.png 2x"
            type="image/png"
            media="(min-width: 1344px)"
          />
          <source
            srcset="./images/main-bcg/in-class-tablet@1x.webp 1x"
            ,
            srcset="./images/main-bcg/in-class-tablet@2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/main-bcg/in-class-tablet@1x.png 1x"
            ,
            srcset="./images/main-bcg/in-class-tablet@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <img
            src="./images/main-bcg/in-class-deskto@1x.png"
            alt="в классе"
            class="program-image"
          />
        </picture>

        <ul>
          <h4 class="program-item">—</h4>
          <ul class="program-list">
            <li class="program-topik">Revision</li>
            <li class="program-topik">Tests</li>
          </ul>
        </ul>
      </li>
    </ul>
  </div>
</section>
