<section class="section">
  <div class="container">
    <h2 class="section-title slider-title">Отзывы выпускников</h2>

    <section class="slider">
      <div class="slider-wrap">
        <div class="slider-item">
          <img
            class="slider-client-image"
            src="./images/client-1-mobile@1x.png"
            alt="Фотография клиента"
            width="90"
            height="90"
          />
          <svg class="slider-icon">
            <use href="./images/icons/sprite.svg#icon-vk"></use>
          </svg>
          <h3 class="slider-item-title">Тоня Кучеровская</h3>
          <p class="slider-client-description">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="slider-feedback">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a href="#" class="read-more-link">Читать дальше </a>
          </p>
        </div>
        <div class="slider-item">
          <img
            class="slider-client-image"
            src="./images/client-1-mobile@1x.png"
            alt="Фотография клиента"
            width="90"
            height="90"
          />
          <svg class="slider-icon">
            <use href="./images/icons/sprite.svg#icon-vk"></use>
          </svg>
          <h3 class="slider-item-title">Тоня Кучеровская</h3>
          <p class="slider-client-description">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="slider-feedback">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a href="#" class="read-more-link">Читать дальше </a>
          </p>
        </div>
        <div class="slider-item">
          <img
            class="slider-client-image"
            src="./images/client-1-mobile@1x.png"
            alt="Фотография клиента"
            width="90"
            height="90"
          />
          <svg class="slider-icon">
            <use href="./images/icons/sprite.svg#icon-vk"></use>
          </svg>
          <h3 class="slider-item-title">Тоня Кучеровская</h3>
          <p class="slider-client-description">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="slider-feedback">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a href="#" class="read-more-link">Читать дальше </a>
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
