<section class="section slider-section">
  <div class="container">
    <h2 class="section-title slider-title">Отзывы выпускников</h2>

    <div class="slider">
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-00@1x.jpg"
            alt="Тоня Кучеровская"
            srcset="./images/slider/slider-300px-00@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
            ><svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Тоня Кучеровская</h3>
          <p class="slider-client-description">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="slider-feedback">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз
            <span id="dots">...</span>
            <span id="more">
              я можу похизуватись тим, що я студентка КНЛУ. </span
            ><button class="read-more" id="btn" onclick="readMore()">
              Читать дальше
            </button>
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-01@1x.jpg"
            alt="Иван Беккер"
            srcset="./images/slider/slider-300px-01@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            class="go-it-logo"
            href="https://goit.ua/"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <img src="./images/slider/go-it-logo.png" alt="" />
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Ваня Беккер</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> ментор.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Я вижу у вас много свободного
            времени остаётся. Давайте, вот вам ещё 20 новых задач! Вы
            справитесь. Like))"
          </p>

          <p class="slider-feedback">
            Мистер и миссис Дурсль проживали в доме номер четыре по Тисовой
            улице и всегда с гордостью заявляли, что они, слава богу, абсолютно
            нормальные люди. Уж от кого-кого, а от них никак нельзя было
            ожидать, чтобы они попали в какую-нибудь странную или загадочную
            ситуацию. Мистер и миссис Дурсль весьма неодобрительно относились к
            любым странностям, загадкам и прочей ерунде.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-02@1x.jpg"
            alt="Лариса Анцифрова"
            srcset="./images/slider/slider-300px-02@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="https://github.com/Larisa-Antsifrova"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Лариса Анцифрова</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> Team Lead.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Давай смерджим сначала, потом
            разберёмся, почему это поломалось!"
          </p>

          <p class="slider-feedback">
            Мистер Дурсль возглавлял фирму под названием «Граннингс», которая
            специализировалась на производстве дрелей. Это был полный мужчина с
            очень пышными усами и очень короткой шеей. Что же касается миссис
            Дурсль, она была тощей блондинкой с шеей почти вдвое длиннее, чем
            положено при ее росте.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-03@1x.jpg"
            alt="Ярослав Хазивалиев"
            srcset="./images/slider/slider-300px-03@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="https://github.com/arestus"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Ярик Хазивалиев</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> помощник Team Lead-a.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Вижу иконку, не вижу
            препятствий!"
          </p>

          <p class="slider-feedback">
            Однако этот недостаток пришелся ей весьма кстати, поскольку большую
            часть времени миссис Дурсль следила за соседями и подслушивала их
            разговоры. А с такой шеей, как у нее, было очень удобно заглядывать
            за чужие заборы. У мистера и миссис Дурсль был маленький сын по
            имени Дадли, и, по их мнению, он был самым чудесным ребенком на
            свете.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-04@1x.jpg"
            alt="Владимир Ширяев"
            srcset="./images/slider/slider-300px-04@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="https://github.com/Guns1301"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Вова Ширяев</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> Scrum Master.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Вы меня не видите, но я есть
            :)"
          </p>

          <p class="slider-feedback">
            Семья Дурсль ей имела все, чего только можно пожелать. Но был у них
            и один секрет. Причем больше всего на свете они боялись, что
            кто-нибудь о нем узнает. Дурсли даже представить себе не могли, что
            с ними будет, если выплывет правда о Поттерах. Миссис Поттер
            приходилась миссис Дурсль родной сестрой, но они не виделись вот уже
            несколько лет.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-05@1x.jpg"
            alt="Анна Соколова"
            srcset="./images/slider/slider-300px-05@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="https://github.com/Anna-Sokolova"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Аня Соколова</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> Front-end Developer.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Ты ещё не создал секцию, а я
            уже вижу, какой паддинг у неё не по макету!"
          </p>

          <p class="slider-feedback">
            Миссис Дурсль даже делала вид, что у нее вовсе нет никакой сестры,
            потому что сестра и ее никчемный муж были полной противоположностью
            Дурслям. Дурсли содрогались при одной мысли о том, что скажут
            соседи, если на Тисовую улицу пожалуют Поттеры. Дурсли знали, что у
            Поттеров тоже есть маленький сын, но они никогда его не видели. И
            они категорически не хотели, чтобы их Дадли общался с ребенком таких
            родителей.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-06@1x.jpg"
            alt="Дмитрий Крамский"
            srcset="./images/slider/slider-300px-06@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="https://github.com/ifinddima"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Дима Крамский</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> Front-end Developer.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Закину якоря в это бездонное
            море JS..."
          </p>

          <p class="slider-feedback">
            Когда во вторник мистер и миссис Дурсль проснулись скучным и серым
            утром — а именно с этого утра начинается наша история, — ничто,
            включая покрытое тучами небо, не предвещало, что вскоре по всей
            стране начнут происходить странные и загадочные вещи. Мистер Дурсль
            что-то напевал себе под нос, завязывая самый отвратительный из своих
            галстуков.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-07@1x.jpg"
            alt="Евгения Куницкая"
            srcset="./images/slider/slider-300px-07@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="https://github.com/Yevheniia123"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Женька Куницкая</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> Front-end Developer.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Нет ничего такого, что нельзя
            бы было спозиционировать!"
          </p>

          <p class="slider-feedback">
            А миссис Дурсль, с трудом усадив сопротивляющегося и орущего Дадли
            на высокий детский стульчик, со счастливой улыбкой пересказывала
            мужу последние сплетни. Никто из них не заметил, как за окном
            пролетела большая сова-неясыть.
          </p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-image-block">
          <img
            class="slider-client-image"
            src="./images/slider/slider-150px-08@1x.jpg"
            alt="Александр Коваленко"
            srcset="./images/slider/slider-300px-08@2x.jpg 2x"
            width="150"
            height="150"
          />
          <a
            href="https://github.com/Aleksander-Kovalenko"
            target="_blank"
            rel="noreferrer noopener"
            class="slider-social-link"
          >
            <svg class="slider-icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
        <div class="slider-item-description-block">
          <h3 class="slider-item-title">Саня Коваленко</h3>
          <p class="slider-client-description role">
            <span class="logo-moto">Роль:</span> Front-end Developer.
          </p>
          <p class="slider-client-description">
            <span class="logo-moto">Девиз:</span> "Пишу как джедай! Да, прибудет
            с тобой сила поменять что-то в моём коде!"
          </p>

          <p class="slider-feedback">
            В половине девятого мистер Дурсль взял свой портфель, клюнул миссис
            Дурсль в щеку и попытался на прощанье поцеловать Дадли, но
            промахнулся, потому что Дадли впал в ярость, что с ним происходило
            довольно часто. Он раскачивался взад-вперед на стульчике, ловко
            выуживал из тарелки кашу и заляпывал ею стены.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
