<section class="section">
  <div class="container">
    <h2 class="section-title slider-title">Отзывы выпускников</h2>

    <section class="slider">
      <div class="slide">
        <div class="slider-item">
          <img
            class="slider-client-image"
            src="./images/slider/client-01-max.png"
            alt="Фотография клиента"
            width="90"
            height="90"
          />
          <svg class="slider-icon">
            <use href="./images/icons/sprite.svg#icon-vk"></use>
          </svg>
          <h3 class="slider-item-title">Тоня Кучеровская</h3>
          <p class="slider-client-description">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="slider-feedback">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a href="#" class="read-more-link">Читать дальше </a>
          </p>
        </div>
        <div class="slider-item">
          <img
            class="slider-client-image"
            src="./images/slider/client-02-max.png"
            alt="Фотография клиента"
            width="90"
            height="90"
          />
          <svg class="slider-icon">
            <use href="./images/icons/sprite.svg#icon-vk"></use>
          </svg>
          <h3 class="slider-item-title">Тоня Кучеровская</h3>
          <p class="slider-client-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            adipisci consequuntur velit, facere nam deserunt.
          </p>
          <p class="slider-feedback">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            ipsum veniam libero aut porro, asperiores aperiam animi inventore
            consequuntur nesciunt amet deleniti perspiciatis at enim quis, quasi
            praesentium et eaque facilis omnis ipsam aspernatur. Laboriosam,
            accusantium repellat? Minima consectetur labore porro non.

            <a href="#" class="read-more-link">Читать дальше </a>
          </p>
        </div>
        <div class="slider-item">
          <img
            class="slider-client-image"
            src="./images/slider/client-03-max.png"
            alt="Фотография клиента"
            width="90"
            height="90"
          />
          <svg class="slider-icon">
            <use href="./images/icons/sprite.svg#icon-vk"></use>
          </svg>
          <h3 class="slider-item-title">Тоня Кучеровская</h3>
          <p class="slider-client-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, hic.
          </p>
          <p class="slider-feedback">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Repellendus sunt officia error cum magnam velit iure autem amet
            provident sint sequi nostrum commodi qui saepe nemo impedit quas
            delectus consectetur quae, numquam earum quos! Ex!
            <a href="#" class="read-more-link">Читать дальше </a>
          </p>
        </div>
      </div>

      <!-- <div class="slider-nav">
        <svg class="slider-arrow-icon">
          <use href="./images/icons/sprite.svg#icon-arrow-left"></use>
        </svg>
        <img
          src="./images/slider/client-2-mobile@2x.png"
          alt="Фотография клиента"
          width="54"
          height="54"
        />
        <img
          src="./images/slider/client-3-mobile@2x.png"
          alt="Фотография клиента"
          width="54"
          height="54"
        />
        <img
          src="./images/slider/client-4-mobile@2x.png"
          alt="Фотография клиента"
          width="54"
          height="54"
        />

        <svg class="slider-arrow-icon">
          <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div> -->
    </section>
  </div>
</section>
