<section id="about-us" class="section section-teacher">
  <div class="container">
    <h2 class="section-title">Преподаватель</h2>
    <div class="teacher-wrapper">
      <div class="picture-wrapper">
        <picture>
          <source
            srcset="
              ./images/teacher/teacher-desktop@1x.webp 1x,
              ./images/teacher/teacher-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-desktop@1x.jpg 1x,
              ./images/teacher/teacher-desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1344px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-tablet@1x.webp 1x,
              ./images/teacher/teacher-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-tablet@1x.jpg 1x,
              ./images/teacher/teacher-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-mobile@1x.webp 1x,
              ./images/teacher/teacher-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/teacher/teacher-mobile@1x.jpg 1x,
              ./images/teacher/teacher-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width:767px)"
          />
          <img
            src="./images/teacher/teacher-mobile@1x.jpg"
            alt="Фото преподавателя Елены"
            srcset="./images/teacher/teacher-mobile@2x.jpg 2x"
          />
        </picture>
      </div>

      <div class="teacher-description">
        <h3 class="teacher-name">Елена Морева</h3>

        <ul class="teacher-list">
          <li class="teacher-item">
            <p class="teacher-text">Опыт подготовки учеников к ВНО - 6 лет</p>
          </li>
          <li class="teacher-item">
            <p class="teacher-text">
              Собственный результат сдачи ВНО - 197 баллов 2 года подряд
            </p>
          </li>
          <li class="teacher-item">
            <p class="teacher-text">
              Сдала на отлично международный аналог ВНО - Кембриджский PET
              (<span Lang="en">Preliminary English Test</span>)
            </p>
          </li>
        </ul>
        <!-- <div class="decor-line-orange"></div> -->
        <div class="teacher-experience">
          <p class="experience-text">
            Высшее образование получила в Институте международных отношений НАУ
            по специальности переводчик-аналитик.
          </p>

          <p class="experience-text">
            В свободное время проходит курсы от лучших университетов мира по
            эффективному преподаванию и методикам написания сочинений.
          </p>

          <p class="experience-text">
            В числе пройденных: ((<span Lang="en"
              >Grammar and Essay Writing (Berkeley), English Grammar&Style (The
              University of Queesland), How to Write an Essay (Berkeley),
              Academic and Business Writing (Berkeley), The Art of Teaching
              (GEMS education), Powerful Tools for Teaching and Learning
              (University of Houston)</span
            >.
          </p>
        </div>
        <a href="#" class="experience-link" id="myImg">
          <p lang="en">Cambrige English Entry Level Certificate</p>
        </a>

        <!-- The Modal -->
        <div id="myModal" class="modal-certificate">
          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Image -->
          <img
            class="modal-image"
            id="myImg"
            src="./images/certificate/certificate.jpg"
            alt="Cambrige English Entry Level Certificate"
            style="width: 100%"
          />

          <!-- Modal Caption -->
          <div id="caption">
            <p lang="en">Cambrige English Entry Level Certificate</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
