<section class="section warranty-section">
  <div class="container">
    <h2 class="section-title">Мы гарантируем</h2>
    <div class="background-list-color">
      <ul class="warranty-list">
        <li class="warranty-item">
          <p>
            Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
            тестировании. Иначе мы вернем деньги.<span class="color-orange"
              ><sup>*</sup></span
            >
          </p>
        </li>
        <li class="warranty-item">
          <p>
            Ты научишься писать сочинения минимум на 10 баллов из 14.
            <span class="color-orange"
              >В то время как 20% учеников получили за сочинение 0.</span
            >
          </p>
        </li>
        <li class="warranty-item">
          <p>
            Ты будешь заниматься в своем районе. Мы выберем место проведения
            занятий после формирования команд.
          </p>
        </li>
        <li class="warranty-item">
          <p>
            Команды будут сформированы, исходя из начального уровня учеников. Мы
            учитываем особенности каждого ученика.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
