.slider {
  width: 100%;
  max-width: 280px;
  height: 682px;
  background-color: $lightBackgroundColor;
}

.slider-title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}
