.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media screen and (min-width: 1344px) {
    width: 1344px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
