.footer-background {
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  min-width: 320px;
  height: 507px;

  background-image: url(../images/footer-bcg/footer-bcg-mobile@1x.png);
  background-color: $darkBackgrounColor;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 320px) {
  }
}

.footer-section {
  padding-bottom: 0;
}

.form-block {
  @media screen and (max-width: 767px) {
    padding-bottom: 50px;
    text-align: center;
  }
}

.form-title {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.03em;

  color: $basicWhiteColor;
}

.orange-color {
  color: $accentColor;
}

.form-discription {
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-align: center;

  color: $basicWhiteColor;
}

.input-size {
  margin-bottom: 20px;
}

.footer-button {
  margin-top: 30px;
}

.input-box {
  width: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid $basicWhiteColor;
  background-color: transparent;
}

.input-box::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  align-items: center;
  letter-spacing: 0.08em;

  color: $basicWhiteColor;
}

.contacts-block {
  @media screen and (max-width: 767px) {
    padding-top: 30px;
    text-align: center;
  }
}

.logo-footer {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.contacts-phone {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.08em;

  color: $darkBackgrounColor;

  &:hover .contacts-link {
    color: $accentColor;
  }
}

.contacts-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.instagram-link {
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}

.copy-block {
  background-color: $darkBackgrounColor;
}

.copy-text {
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;

  color: $primaryTextColor;
}
