.page-header {
  padding-top: 30px;
  // position: relative;
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-link {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .header-link {
      display: block;
      margin-left: auto;

      background-color: transparent;
      color: $accentColor;
    }
  }
}

.site-nav {
  display: none;
  .item {
    @include font(800, 20px, 1.8, 0.03em);
    color: $basicWhiteColor;
  }
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .item:nth-child(2) {
    color: $accentColor;
  }
  @media screen and (min-width: 1344px) {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    .item {
      @include font(700, 14px, 1.2, 0.03em);
      color: $primaryTextColor;
      text-transform: uppercase;
    }
  }
}

.menu-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }

  @media (min-width: 1344px) {
    display: none;
  }

  .icon-close {
    fill: $basicWhiteColor;
  }

  .menu-btn .icon-close {
    display: block;
  }

  .menu-btn.is-open .icon-close {
    display: block;
  }
  .menu-btn.is-open .icon-open {
    display: none;
  }

  .icon-burger {
  }
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: $burgerMenuBackgroundColor;

  .button {
    margin-top: 50px;
    color: $accentColor;
    background-color: transparent;
  }

  @media (min-width: 1330px) {
    display: none;
  }
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
