.page-header {
  padding-top: 30px;

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-link {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .header-link {
      display: block;
      margin-left: auto;

      background-color: transparent;
      color: $accentColor;
    }
    @media screen and (min-width: 1344px) {
      .header-link {
        display: flex;
        justify-content: center;
        margin-left: 40px;
      }
      .nav-link {
        padding-top: 27px;
        padding-bottom: 27px;
      }
    }
  }
}

.link:hover,
.link:focus {
  color: $accentColor;
}

// Скрыть эелементы header при открытом бургере
.menu-btn {
  z-index: 101;
}

// Стили бургер хедера
.header-burger {
  display: flex;
  padding-top: 40px;
  text-align: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding-top: 30px;
  }
  @media (min-width: 1344px) {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: $burgerMenuBackgroundColor;
  z-index: 100;

  &.is-open {
    display: block;
  }

  .menu-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: fill $primaryTransition;

    &:hover,
    &:focus {
      fill: $accentColor;
    }

    .menu-btn .icon-close {
      display: none;
    }

    .menu-btn.is-open .icon-close {
      display: block;
    }
    .menu-btn.is-open .icon-open {
      display: none;
    }

    @media screen and (min-width: 768px) {
      margin-left: 40px;
    }

    @media (min-width: 1344px) {
      display: none;
    }
  }

  // Дополнительные стили на кнопку в бургере
  .button {
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    color: $accentColor;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  @media (min-width: 1330px) {
    display: none;
  }
}

.site-nav {
  .item {
    @include font(800, 20px, 1.8, 0.03em);
    color: $basicWhiteColor;
  }

  @media screen and (max-width: 1344px) {
    margin-top: 50px;
    margin-bottom: 50px;

    .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1344px) {
    margin-top: 72px;
    margin-left: 218px;
  }
  @media screen and (min-width: 768px) {
    .item {
      font-size: 26px;
    }
  }
  @media screen and (min-width: 1344px) {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    .item {
      @include font(700, 14px, 1.2, 0.03em);
      color: $primaryTextColor;
      text-transform: uppercase;
    }
    .item:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.menu-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill $primaryTransition;

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  .icon-close {
    fill: $basicWhiteColor;
  }

  .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }
  &.is-open .icon-open {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }

  @media (min-width: 1344px) {
    display: none;
  }
}

.container-tablet {
  @media screen and (max-width: 1344px) {
    display: none;
  }
  display: flex;
  align-items: center;
  margin-left: auto;
}
