.hero-section {
  background-image: url(../images/icons/bcg/wave-curve.svg);
  background-size: cover;
}
.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: $primaryTitleColor;

  .hero-label {
    display: block;
  }
}

.hero-description {
  .grey-color {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
    color: $primaryTextColor;
  }
}
