.how-we-do-it-section {
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
  @media screen and (min-width: 1344px) {
    padding-bottom: 130px;
  }

  .title-how {
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
    @media screen and (min-width: 1344px) {
      text-align: left;
      font-size: 46px;
      margin-bottom: 50px;
    }
  }

  .title-how-we-do {
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.08em;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1334px) {
      font-size: 20px;
    }

    &::after {
      content: ' ';
      display: block;
      width: 25px;
      height: 2px;
      background-color: $accentColor;
      margin: 20px auto;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media screen and (min-width: 768px) {
    .list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.08em;
    color: $primaryTextColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1334px) {
      font-size: 18px;
      line-height: 1.55;
    }
  }

  .item {
    min-height: 280px;
    background-color: $basicWhiteColor;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    padding: 30px 10px 22px 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1333px) {
      width: calc((100% - 20px) / 2);
      padding: 40px 21px 30px 21px;

      &:nth-child(2n + 1) {
        margin-right: 20px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 27px;
      }
    }

    @media screen and (min-width: 1344px) {
      width: calc((100% - 40px) / 3);
      padding: 40px 30px 55px 30px;
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 20px;
      }

      &:not(:nth-child(3n)) {
        margin-right: 20px;
      }
    }

    .icon {
      display: flex;
      justify-content: center;

      .icon-how-we-do {
        width: 74px;
        height: 60px;
        margin-bottom: 20px;
        fill: $accentColor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    &:hover,
    &:focus {
      background-color: $accentColor;
      color: $basicWhiteColor;
    }

    &:hover .icon-how-we-do,
    &:focus .icon-how-we-do {
      fill: $basicWhiteColor;
    }

    &:hover .description,
    &:focus .description {
      fill: $basicWhiteColor;
      color: $basicWhiteColor;
    }

    &:hover .title-how-we-do::after,
    &:hover .title-how-we-do::after {
      background-color: $basicWhiteColor;
    }
  }
}
