@import './section';
@import './container';
@import './header';
@import './hero';
@import './advantages';
@import './problems';
@import './how-we-do-it';
@import './our-program';
@import './teacher';
@import './why-we';
@import './warranty';
@import './footer';
