// После добавления миксинов заменить атрибуты на закоментированые миксины
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $primaryTransition;
  z-index: 1000;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  // @include padding(40px, 40px, 40px, 40px);
  padding: 40px 40px;
  margin-bottom: 10px;

  min-width: 450px;
  min-height: 609px;

  background-color: $secondaryTextColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform $primaryTransition;

  // @include for-size(phone-only)
  @media screen and (max-width: 319px) {
    min-width: 100%;
    padding: 40px;
    margin: 15px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);

    // @include for-size(tablet-portrait)
    @media screen and (max-width: 319px) {
      min-width: 528px;
      min-height: 580px;
    }
  }
}
