.section-problems {
  background-image: linear-gradient(
    to bottom,
    $darkBackgrounColor 75%,
    $basicWhiteColor 50%
  );

  @media screen and (min-width: 1344px) {
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(../images/icons/bcg/fire-background.svg),
      linear-gradient(to bottom, $darkBackgrounColor 75%, $basicWhiteColor 50%);
    background-position: 100% 45%;
    background-repeat: no-repeat;
  }
}

.problems-section-title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;

  color: $basicWhiteColor;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 25px;
    width: 568px;
  }
  @media screen and (min-width: 1344px) {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 70px;
    width: 866px;
  }
}

.color-orange {
  color: $accentColor;
}

.problems-list {
  padding: 50px 30px 20px 30px;
  background-color: $basicWhiteColor;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 768px) {
    padding: 60px 30px 26px 30px;
  }

  @media screen and (min-width: 1344px) {
    padding: 113px 30px 62px 30px;
  }
}

.problems-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 61px;
  }

  @media screen and (min-width: 1344px) {
    margin-bottom: 75px;
    margin-right: 40px;
  }

  color: $primaryTitleColor;
}

.problems-item:last-child {
  margin-bottom: 0;
}

.problems-item:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.problems-item:nth-last-child(-n + 3) {
  @media screen and (min-width: 1344px) {
    margin-bottom: 0;
  }
}

.problems-item:nth-last-child(even) {
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    margin-right: 22px;
  }
}

.problems-item:nth-child(3n + 3) {
  @media screen and (min-width: 1344px) {
    margin-right: 0;
  }
}

// CSS Counter
.problems-list {
  counter-reset: section;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.problems-item {
  position: relative;

  @media screen and (min-width: 768px) {
    width: calc((100% - 167px) / 2);
    font-size: 14px;
    line-height: 1.4;
  }
  @media screen and (min-width: 1344px) {
    width: calc((100% - 306px) / 3);
    font-size: 20px;
    line-height: 1.2;
  }
}

.problems-item::before {
  counter-increment: section;
  content: '— 0' counters(section, '.') ' ';
  color: $accentColor;

  position: absolute;
  top: -30px;
}
