.section-teacher {
  padding-top: 39px;
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 20px;
  line-height: 2.6;
  letter-spacing: 0.03em;
}

.teacher-name {
  margin-top: 20px;
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

.decor-line {
  display: block;
  width: 100%;
  border-bottom: 1px solid $primaryTextColor;
}

.teacher-item {
  display: flex;
  margin-top: 20px;
}

.teacher-icon-check {
  width: 17px;
  height: 14px;
  margin-right: 10px;
}

.teacher-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
}

.decor-line-orange {
  content: ' ';
  display: block;
  width: 20px;
  height: 2px;
  background-color: $accentColor;
  margin-top: 20px;
  margin-bottom: 20px;
}

.experience-text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: $primaryTextColor;

  &:last-child {
    margin-bottom: 10px;
  }
}

.experience-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  text-decoration-line: underline;
  color: $accentColor;
}
